# Training checkpoints, tensorboard_logs
checkpoints
tensorboard_logs
dcgan_checkpoints
dcgan_tensorboard_logs
vae_checkpoints
vae_tensorboard_logs

# IDE
*ipynb_checkpoints
.vscode
*.swp

# Generated figure output directory
figures

# Source images for recovery
dataset
images

# Tensorboard logs for recovery runs
recovery_tensorboard_logs

# Output of recovery runs
runs
final_runs

# Tags file
tags
tags.lock

# Virtualenvs
venv
py37

# Pycache
*__pycache__
